<!doctype html>


<title>Add to plex</title>

<form method="post">
    <fieldset>
        <legend>add a new torrent:</legend>

        <div>
            <label for="magnet_link">torrent links (seperate with new lines):</label>
            <input type="textarea" id="magnet_link" name="magnet_link">
        </div>

        <div>
            <input type="radio" id="typeMovie" name="type" value="movie" />
            <label for="typeMovie">Movie</label>

            <input type="radio" id="typeTV" name="type" value="tv" />
            <label for="contactChoice2">TV Show</label>
        </div>

        <div>
            <label for="media_name">name:</label>
            <select name="media_name" id="media_name">
                <option value="custom">custom</option>

                {%for i in existing_shows%}
                <option value="{{i}}">{{i}}</option>
                {%endfor%}
            </select>
        </div>

        <div>
            <label for="custom_name">name:</label>
            <input type="text" id="custom_name" name="custom_name">
        </div>

        <div>
            <label for="season">season:</label>
            <input type="number" id="season" name="season">
        </div>

        <div>
            <button type="submit">Submit</button>
        </div>
    </fieldset>
</form>




{% if last_request %}
{%for i in last_request%}

<h1>{{i}}</h1>

{%endfor%}
{% endif %}