<!doctype html>

<head>
    <title>add torrents to plex</title>

    <script type="text/javascript">
        function hideCustomName(obj) {
            if (obj.value != 'custom') {
                document.getElementById('custom_name').style.display = 'none';
                document.getElementById('custom_name_label').style.display = 'none';
            } else {
                document.getElementById('custom_name').style.display = 'block';
                document.getElementById('custom_name_label').style.display = 'block';
            }
        }
        function hideSeason() {
            if (document.getElementById('typeTV').checked) {
                document.getElementById('season').style.display = 'block';
                document.getElementById('season_label').style.display = 'block';
            } else {
                document.getElementById('season').style.display = 'none';
                document.getElementById('season_label').style.display = 'none';
            }
        }
    </script>

    <style>
        * {
            color: greenyellow;
            background: black;
            border-color: greenyellow;
        }
    </style>
</head>

<body style="background-color:black">
    <form method="post" style="color: greenyellow;">
        <fieldset>
            <legend>add a new torrent:</legend>

            <div>
                <label for="magnet_link"></label>
                <textarea id="magnet_link" name="magnet_link" cols="40" rows="5"
                    onclick="this.focus();this.select()">torrent links (separate with new lines)</textarea>
            </div>

            <div>
                <label for="typeMovie">Movie</label>
                <input type="radio" id="typeMovie" name="type" value="movie" onchange="javascript:hideSeason();" />

                <label for="typeTV">TV Show</label>
                <input type="radio" id="typeTV" name="type" value="tv" onchange="javascript:hideSeason();" checked />
            </div>

            <div>
                <label for="media_name">Name:</label>
                <select name="media_name" id="media_name" onchange="javascript:hideCustomName(this);">
                    <option value="custom">custom</option>

                    {%for i in existing_shows%}
                    <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
            </div>

            <div>
                <label id="custom_name_label" for="custom_name">Custom name:</label>
                <input type="text" id="custom_name" name="custom_name">
            </div>

            <div>
                <label id="season_label" for="season">Season:</label>
                <input type="number" id="season" name="season" value="1">
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    </form>

    {% if last_request %}
    {%for i in last_request%}

    <h1>{{i}}</h1>

    {%endfor%}
    {% endif %}
</body>